
{% extends 'base.html' %}
{% block title%} About Nia Salon {% endblock%}

{% block content %}
  <div class="banner-card">
    <img src="static/images/about.jpg">
      <div class="banner-text">
        <h4>About Us...</h4>
        <p>Serviciile de înfrumusețare profesionale și eficiente ale salonului NIA, cu produse de cea mai bună calitate, bazate pe cele mai bune practici din industrie, vă pot ajuta să vă simțiți încrezătoare și frumoasă în fiecare zi. Fiind un furnizor de top de servicii de înfrumusețare de lux și de branduri exclusive, în salon, totul se concentrează pe TINE – profesionistul a cărui satisfacție sufletească se extinde dincolo de farmec, care dorește să transceadă limitele esteticii convenționale.</p>
      </div>
  </div>
  <div class="new-text">
    <p> Părul tău este un fel de marcă înregistrată atunci când te vedem și ne face să intrăm în contact cu persoana din spatele lui. Alege Salon NIA, cel mai bun companion al părului tău!</p>
  </div>

  <div class="contact">
    <h4>Contact:</h4>
  </div>
  <div class="phone">
    <p> Telephone: + 40 788 000 111</p>
  </div>
  <div class="adress">
    <p> Adress: Cluj Napoca, Str. Napoca 5</p>
  </div>

    {% endblock %}